---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Show from "../components/Show.astro";

const pageTitle = "Shows";
const allShows = (await getCollection("shows")).sort((a, b) => {
  // Sort by file name in descending order
  if (a.id > b.id) return -1;
  if (a.id < b.id) return 1;
  return 0;
});
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container max-w-3xl mx-auto pl-4 lg:pl-0">
    <ul class="list-disc pl-6">
      {
        allShows.map((show) => (
          <li class="custom-li-class">
            <Show 
              url={`/shows/${show.id}/`} 
              title={show.data.title} 
              tags={show.data.tags} 
            />
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
