---
const pageTitle = "About Me";
---

<p>The Quadraphonic Rock Block is a radio show on KUCR, the campus radio station for the University of California, Riverside. It's music, broadcast on Thursday nights from 7 to 8 pm Pacific.</p>