<nav class="relative bg-white">
  <!-- Large angled text -->
  <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
    <span class="text-red-500 text-9xl font-bold opacity-25 transform rotate-25">
      QRB
    </span>
  </div>

  <!-- Navbar links -->
  <div class="relative container mx-auto text-black">
    <ul class="flex justify-center space-x-8 py-4">
      <li>
        <a href="/" class="text-black hover:underline">Home</a>
      </li>
      <li>
        <a href="/shows" class="text-black hover:underline">Shows</a>
      </li>
    </ul>
  </div>
</nav>
