{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-sm-8 my-auto">
      <h1>{{ .Title }}</h1>
      {{ partial "date-and-tags.html" . }}
      <br>
      <i data-feather="radio"></i>   <a href={{ printf "%s" $.Params.spinitronlink }}>Spinitron</a>
    </div>
    <div class="col-sm-4">
      <img src={{ printf "%s" $.Params.imagelink }} class="rounded float-end" alt="colors">
    </div>
  </div>
</div>


<br>

<figure class="text-center">
  <blockquote class="blockquote">
    <p><h4><span style="color:green">{{ .Params.lyric }}</span></h4></p>
  </blockquote>
</figure>

<br>

<div class="container">
  <div class="row justify-content-md-center">
    <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src={{ printf "%s" $.Params.playlistlink }}></iframe>
  </div>
  <div class="row justify-content-md-center">
    {{ .Content }}
  </div>
</div>

{{ end }}
