{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-left">
{{ with .Content }}
  <h1>{{ $.Page.Title }}</h1>
  {{ . }}
{{ else }}
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
{{ end }}

  <h3>This week's show</h3>
{{ range first 1 .Data.Pages }}
									<ul>
							    <!-- Ranges through content/post/*.md -->
							    {{ range first 1 .Data.Pages }}
							        <li>
							            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
							        </li>
							    {{ end }}
							    </ul>
{{ end }}

  <h3>Last few shows</h3>
{{ range first 3 .Data.Pages }}
									<ul>
							    <!-- Ranges through content/post/*.md -->
							    {{ range first 3 .Data.Pages }}
							        <li>
							            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
							        </li>
							    {{ end }}
							    </ul>
{{ end }}
</div>

{{ end }}
